body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f1f1f1;
    font-size: 16px;
}

p {
    font-family: sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

header {
    height: 110px;
    background-color: #f39936;
}


footer {
    height: fit-content;
    background-color: #222222;
    color: white;
    padding-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul {
    list-style-type: none;
}

.page-container {
    width: 1100px;
    margin: 0px auto;
}

.product-header {
    display: flex;
    margin: 10px 20px;
    background-color: #ffffff;
    padding: 20px 0;
}

.product-img {
    border-radius: 4px;
    width: 560px;
    position: relative;
    margin: 0 20px;
}
.carousel-control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    border: 1px #eeecec solid;
    color: #f5f5f5;
    background-color: transparent;
 }
.carousel-control:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #313131;
    border: 1px #3f3f3f solid;
}
.product-image-carosel {
    position: relative;
}
.left-carousel-ctrl {
    position: absolute;
    top: 250px;
    left: 20px;
}
.right-carousel-ctrl {
    position: absolute;
    top: 250px;
    right: 20px;
}

.product-detail {
    margin: 24px 60px;
}
.product-title_text {
    color: #494949;
}
.detail-product-lists {
    margin-top: 40px;
    margin-bottom: 40px;
}
.detail-product-lists li{
    margin: 10px 10px;
    font-size: 18px;
    color: #464646;
}

.product-price {
    display: flex;
    color: #f85b02;
    font-size: 26px;
    margin: 20px 0;
}
.product-price_discount-text {
    margin: 0 24px;
}

.buying-button {

}
.subquantity {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 20px;
}
.subquantity span {
    margin-right: 20px;
}

.prod-quantity {
    display: flex;
    margin: 0;
    padding: 0;
    border: 1px #d2d2d2 solid;
}
.quantity-btn {
    height: 46px;
    width: 30px;
    border: none;
    color: #3d3d3d;
}

.quantity-btn:hover {
    background-color: #cecece;
}
.product-quantities {
    width: 40px;
    height: 46px;
    outline: none;
    padding: 0;
    border: none;
    font-size: 16px;
    text-align: center;
}

.action-button_item {
    margin-left: 10px;
    border-radius: 4px;
    border: none;
    padding: 0 20px;
    background-color: #f39936;
    color: white;
    height: 50px;
    margin-top: 10px;
}
.action-button_item:hover {
    background-color: #e07809;
}
.add-to-cart_button {
    margin-right: 10px;
}

.logo img{
    width: 120px;
    margin-top: 16px;
}
.sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 24px;
}

.right-header {
    display: flex;
}

.right-header .single-icon {
    margin-left: 26px;
    font-size: 22px;
    color: #333;
}
.right-header .single-icon:hover {
    color: #e07809;
}

.product-describe {
    margin-top: 50px;
}
.navbar {
    z-index: 100;
    background-color: #333;
    height: 64px;
    position: sticky;
    top: 0;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    height: 64px;
    display: flex;
    align-items: center;
}
.navbar li {
    list-style-type: none;
    width: fit-content;
    margin: 0 4px;
    padding: 0 18px;
    min-height: 100%;
}

.navbar li:hover {
    background-color: #e07809;
}

.navbar-nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 22px;
    height: 64px;
}


.inner-footer {
    display: flex;
    padding-top: 80px;
    justify-content: space-around;
    font-size: 16px;
    padding-bottom: 50px;
}

.inner-footer h4 {
    font-size: 18px;
}

.single-footer {
    line-height: 30px;
    width: 200px;
}

.single-footer ul {
    padding: 0;
}

.single-footer-left {
    width: 400px;
    margin-right: 60px;
}
.single-footer-left p a {
    display: block;
    color: #f7941d;
    font-size: 22px;
    font-weight: 500;
}
.single-footer a:hover {
    color: #f7941d;
}

.ft-li:hover {

    margin-left: 4px;
}

.ft-social {
    display: flex;
}

.ft-social li{
    color: white;
    margin-right: 30px;
}

.ft-slash {
    height: 1px;
    background-color: #626262;
}

.single-product {
    margin: 30px 5px;
    height: 440px;
    width: 264px;
    background-color: #6c6a6a;
    padding-bottom: 10px;
}
.single-product:hover {
    opacity: .70;
}

.single-product-img img {
    width: 100%;
}

.single-product-content {
    font-size: 13px;
    margin: 0 10px;
}

.single-product-content a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.single-product-content h3 {
    margin: 20px 0;
    padding: 0;
}

.single-product-content span{
    color: black;
    font-size: 18px;
}
.product-price {
    margin: 0;
    padding: 0;
}

.list-more-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: inherit;
    margin: 0 auto;
}

.product-area {
    margin-top: 100px;
}

.more-product-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.more-prd-slash {
    margin: 20px auto;
    background-color: #f7941d;
    width: 60px;
    height: 2px;
}