section.checkout .container {
    padding: 80px 0 80px 0;
}

section.checkout .billing-details {
    margin-bottom: 30px;
    padding: 0px 50px 0px 0px;
}

section.checkout .title {
    text-transform: uppercase;
    color: rgb(57, 59, 71);
    line-height: 0.8em;
    margin-bottom: 34px;
}

section.checkout .shiping-details {
    margin-bottom: 30px;
}

section.checkout .order-details {
    height: 100%;
    position: relative;
    padding: 30px;
    background-color: rgb(250, 250, 250);
    border: 1px solid #E4E7ED;
    border-radius: 3px;
}

section.checkout .order-summary {
    margin: 15px 0px;
}

section.checkout .order-summary .order-col {
    display: table;
    width: 100%;
}

section.checkout .order-summary .order-col:after {
    content: "";
    display: block;
    clear: both;
}

section.checkout .order-summary .order-col>div {
    display: table-cell;
    padding: 10px 0px;
}

section.checkout .order-summary .order-col>div:first-child {
    width: calc(100% - 150px);
}

section.checkout .order-summary .order-col>div:last-child {
    width: 150px;
    text-align: right;
}

section.checkout .order-summary .order-col .order-total {
    font-size: 24px;
    color: #131212;
}

section.checkout .order-details .payment-method {
    margin: 30px 0px 12px 0px;
}

section.checkout .order-details .order-payment {
    margin: 13px 0px 32px 0px;
}

section.checkout .order-details .order-submit {
    color: white;
    line-height: 45px;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    border-radius: 24px;
    display: block;
    height: 45px;
    text-align: center;
    margin-top: 20px;
    background-color: #131212;
}

section.checkout .order-details .order-submit:hover {
    background-color: #717fe0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section.checkout .order-details .term-conditions {
    color: rgba(43, 43, 43, 0.9);
    font-size: 13.2px;
}

section.checkout .order-details .term-conditions:hover {
    color: #717fe0;
}

section.checkout .input {
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    border-radius: 3px;
    width: 100%;
}

section.checkout .input:focus {
    caret-color: rgb(94, 94, 94);
    box-shadow: 0px 0px 2px 2px rgba(84, 134, 241, 0.4);
}

section.checkout textarea.input {
    padding: 15px;
    min-height: 90px;
}


/* -- checkbox & radio input -- */

section.checkout .input-radio,
section.checkout .input-checkbox {
    position: relative;
    display: block;
}

section.checkout .input-radio input[type="radio"]:not(:checked),
section.checkout .input-radio input[type="radio"]:checked,
section.checkout .input-checkbox input[type="checkbox"]:not(:checked),
section.checkout .input-checkbox input[type="checkbox"]:checked {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

section.checkout .input-radio label,
section.checkout .input-checkbox label {
    font-weight: 500;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

section.checkout .input-radio input[type="radio"]+label span,
section.checkout .input-checkbox input[type="checkbox"]+label span {
    position: absolute;
    left: 0px;
    top: 4px;
    width: 14px;
    height: 14px;
    border: 1px solid #131212;
    background: #FFF;
    border-radius: 3px;

}

section.checkout .input-radio input[type="radio"]+label span {
    border-radius: 50%;
}

section.checkout .input-radio input[type="radio"]+label span:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    background-color: #FFF;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

section.checkout .input-checkbox input[type="checkbox"]+label span:after {
    content: '✔';
    position: absolute;
    top: -4px;
    left: 1.3px;
    font-size: 10px;
    color: #FFF;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

section.checkout .input-radio input[type="radio"]:checked+label span,
section.checkout .input-checkbox input[type="checkbox"]:checked+label span {
    background-color: #717fe0;
    border-color: #717fe0;
}

section.checkout .input-radio input[type="radio"]:checked+label span:after {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

section.checkout .input-checkbox input[type="checkbox"]:checked+label span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

section.checkout .input-radio .caption,
section.checkout .input-checkbox .caption {
    margin-top: 5px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.3s max-height;
    transition: 0.3s max-height;
}

section.checkout .input-radio input[type="radio"]:checked~.caption,
section.checkout .input-checkbox input[type="checkbox"]:checked~.caption {
    max-height: 800px;
}